$white: #FFF;
$whiteT: #FFFFFF88;
$black: #000;
$primary: #e717e0;
$secondary: #02eeee;
$tertiary: #06ff1b;

// $color1: #38a742;
// $color2: #dbf308;
// $color3: #75407c;
// $color4: #02eeee;
// $color5: #3a58af;
// $color6: #c552c1;
